$color-bg: #1f1f38;
$color-bg-variant: #2a2c69;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

$transition: all 400ms ease;

// lg >= 1200px
$container-width-lg: 75%;

// md >= 992px
$container-width-md: 86%;

// sm >= 768px
$container-width-sm: 90%;